:root {
	--primary-color: #3282b8;
}
/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: var(--primary-color);
	border-color: #fff;
}

ul {
	padding-left: 0%;
}

li {
	list-style-type: none;
}

/* Dev */
*::first-letter {
	text-transform: capitalize;
}

body {
	background-color: #dbdbdb;
}

li div {
	background-color: #ffffff;
}

.card {
	text-align: center;
}

.min-vh-80 {
	min-height: 80vh;
}
